/* --------------------------- */
/* ----- Global variable ----- */
/* --------------------------- */
:root {
	--oxford-blue: #001F39ff;
	--lapis-lazuli: #005B99ff;
	--pewter-blue: #82A9B5ff;
	--silver-metallic: #A2A6ADff;
	--silver-pink: #BDA8A7ff;

	--big-icon-size: 150px;
}



/* ---------------------- */
/* ----- Global CSS ----- */
/* ---------------------- */

body, html {
	height: 100%;
	width: 100%;
}

/* Horizontal center align */
h1, h2 {
	font-variant: small-caps;
	justify-self: center;
}
h1 {font-size: 60px}
h2 {font-size: 40px}
h3 {font-size: 30px}
h4 {font-size: 22px}
h5 {font-size: 18px}

/* Set title font */
h1, h2, h3, h4, h5 {
	font-family: 'Work Sans', 'Quicksand', serif;
	font-weight: 700;
	color: white;
}

/* Set text font */
p, a, li {
	font-family: 'Source Sans Pro', serif;
	color: white;
	font-size: 16px;
}

/* Suppress base link underline */
a {text-decoration: none}

/* Set link hover style */
a:hover {color: var(--lapis-lazuli)}

ul li {background-color: purple} /* FIXME */ 

/* Horizontal align for HTML lists (ul / li) */
.inline_li {
	display: flex;
	justify-content: space-around; /* horizontal */ 
	align-items: center; /* Vertical */
	/* FIXME */
	background-color: red;
}
.inline_li li {
	display: inline;
	text-align: center;
	/* FIXME */
	background-color: blue;
}

.space_between {justify-content: space-between}



/* -------------------- */
/* ----- Page CSS ----- */
/* -------------------- */

/* Full page div */
.page {
	/* Force full page covering */
	min-height: 100vh;
	/* Use grid to organise Header, Main and Footer */
	display: grid;
	grid-template-areas: 
	"header header"
	"main main"
	"footer footer";
}

/* Resize and organize as grid page part */
header, footer, .main {display: grid}
header, footer, .about, .skills, .history, .portfolio {padding: 0 15% 0 15%}
/* If we are on a mobile (768px), suppress the previous padding */
@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  header, footer, .main div {padding: 0}
}
.main div {padding-bottom: 20px}


/* ---------------------- */
/* ----- Header CSS ----- */
/* ---------------------- */

header {
	/* Sticky header */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	/* Base position */
	grid-area: header;
	/* organization */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
    	". .";
	/* FIXME */
	background-color: red;
	z-index: 100;
}

header nav {
	padding: 20px 0 20px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". . . .";
}

header div {
	display: flex;
	align-items: center;
}
header div a {font-size: 30px}
header a {font-variant: small-caps}

/* ---------------------------- */
/* ----- Page Content CSS ----- */
/* ---------------------------- */
.main h2 {padding-bottom: 20px}
.main {
	grid-area: main;
	display: grid;
	row-gap: 20px;
	/* #010A2D, #0C1640, #1A2653, #2D3585, #4D3A81, #784284 */
	background: linear-gradient(175deg, black, #000F19, #010A2D, #0C1640, #203585, #82A9B5, #D0E0FA);
}
.main div {display: grid}

.main div {background-color: rgba(0,255,0,.2);} /* FIXME */

/* --- About part --- */
.about p {
	text-align: justify;
	text-justify: inter-word;
	padding-bottom: 20px;
}
.about li {
	height: calc(var(--big-icon-size) / 2);
	width: calc(var(--big-icon-size) / 2);
	border-radius: calc(var(--big-icon-size) / 4);
	display: flex;
	justify-content: center;
	align-items: center;
}
/* If we are on a mobile, divide size */
@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  .about li {
  	height: calc(100vw / 6);
	width:  calc(100vw / 6);
	border-radius:  calc(100vw / 12);
  }
}


/* --- Skills part --- */

.skills_list, .project_list{
	/* Organize skills and projects parts */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px 0px;
	grid-template-areas:
		". . ."
		". . .";
}
.skills_list li, .project_list li {
	/* horizontal centered */
	display: flex;
	justify-content: space-around;
 	justify-self: center;
	height: var(--big-icon-size);
	width: var(--big-icon-size);
	border-radius: calc(var(--big-icon-size) / 2);
}
.skills_list img, .project_list img {
	z-index: 1;
	height: var(--big-icon-size);
	width: var(--big-icon-size);
	border-radius: calc(var(--big-icon-size) / 2);
}
.skills_list div, .project_list div {
	background-color: rgba(0,0,0,0);
	z-index: 2;
	position: absolute;
	height: var(--big-icon-size);
	width: var(--big-icon-size);
}
.skills_list p, .project_list p {visibility: hidden} 
.skills_list li:hover p, .project_list li:hover p {
	background-color: rgba(0,0,0,.5);
	visibility: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: calc(var(--big-icon-size) / 2);
}
/* If we are on a mobile, divide size */
@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  .skills_list li, .project_list li, .skills_list img, .project_list img, .skills_list div, .project_list div, .skills_list li:hover p, .project_list li:hover p {
  	height: calc(100vw / 4);
	width: calc(100vw / 4);
	border-radius: calc(100vw / 8);
  }
}

/* --- History part --- */

.history {
	/* Organize history part */
	/* already displayed as grid */
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr .5fr 1.1fr;
	gap: 30px 0px;
	grid-template-areas:
		"history_title ."
		"history_title ."
		"history_title .";
}
.history_title {grid-area: history_title}
.history_element ul {padding-bottom: 20px}


.history_element {border: 5px solid red}
.history_element {padding: 0}
.history_element h4 {border: 5px solid purple}

/* --- Project part --- */
/*.portfolio ul {margin-bottom: 20px}*/


/* ---------------------- */
/* ----- Footer CSS ----- */
/* ---------------------- */
footer {
	grid-area: footer;
	padding-top: 20px;
}
footer a, footer p {justify-self: center}
footer ul {margin: 10px 0 10px 0}

footer {background-color: green} /* FIXME */



/* ---------------------- */
/* ----- Random CSS ----- */
/* ---------------------- */
/*
a[href^="https"]::before {
  content: "🔗 ";
}

a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}
*/
